__pycache__
.idea
.DS_Store
*.egg-info
*.ipynb
build

# data
data
checkpoints
out
!data/shakespeare/prepare.py
wandb
*.jsonl
*.json

# downloaded by our tests
original_model.py
original_adapter.pyprofile_data.json
